@using Entities.TeamEntities;
@using PMS_Software.ViewModels;
@using ServiceContracts;
@model ProjectViewModel
@inject IProjectService _projectService

@*DELETE MODAL STARTS HERE*@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure want to logout?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-danger">If You are Sure to delete  then click Delete</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="project-delete-button" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>
</div>
@*DELETE MODAL ENDS HERE*@
@if(Model.ProjectsAsGeneralUser.Count==0 && Model.ProjectsAsLead.Count==0 && Model.ProjectsAsWoner.Count==0)
{
    <h1 style="color:black;text-align:center;margin-top:150px;">You Currently Not Associate with any Project</h1>
}
<!-- my won Project starts  project table start  -->
@if(Model.ProjectsAsWoner.Count!=0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">My Project</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Lead</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var project in Model.ProjectsAsWoner)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                             alt=""
                                             style="width: 45px; height: 45px"
                                             class="rounded-circle" />
                                        <div class="">
                                            <a href="@Url.Action("LaunchProjectPage","Project",new{projectId=project.Id})" style="text-decoration:underline;margin-left:10px;">@project.ProjectName</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">@project.ProjectKey</p>
                                </td>
                                <td>
                                    <span class="badge badge-success rounded-pill d-inline">@project.Catagory</span>
                                </td>
                                <td>
                                    @if (project.ProjectLead != null)
                                    {
                                        <div class="d-flex align-items-center">
                                            <p>@project.ProjectLead</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>UnAssign</p>
                                    }
                                </td>
                                <td>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                            <a class="dropdown-item" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Project Setting</a>
                                            <a class="dropdown-item delete-button" href="#" project-id="@project.Id" data-toggle="modal" data-target="#deleteModal">Move to Trash</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<!-- my won project table end  -->
<!--Project That I am In starts Here-->
@if(Model.ProjectsAsGeneralUser.Count!=0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Projects that I am in</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Lead</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var project in Model.ProjectsAsGeneralUser)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                             alt=""
                                             style="width: 45px; height: 45px"
                                             class="rounded-circle" />
                                        <div class="">
                                            <a href="@Url.Action("LaunchProjectPage","Project",new{projectId=project.Id})" style="text-decoration:underline;margin-left:10px;">@project.ProjectName</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">@project.ProjectKey</p>
                                </td>
                                <td>
                                    <span class="badge badge-success rounded-pill d-inline">@project.Catagory</span>
                                </td>
                                <td>
                                    @if (project.ProjectLead != null)
                                    {
                                        <div class="d-flex align-items-center">
                                            <p>@project.ProjectLead</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Not Assign</p>
                                    }
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<!--Projects that I am in ends Here-->
<!--projects that I am Lead starts Here-->
@if(Model.ProjectsAsLead.Count!=0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Projects that I am Lead</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th>Owner</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var project in Model.ProjectsAsLead)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                             alt=""
                                             style="width: 45px; height: 45px"
                                             class="rounded-circle" />
                                        <div class="">
                                            <a href="@Url.Action("LaunchProjectPage","Project",new{projectId=project.Id})" style="text-decoration:underline;margin-left:10px;">@project.ProjectName</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">@project.ProjectKey</p>
                                </td>
                                <td>
                                    <span class="badge badge-success rounded-pill d-inline">@project.Catagory</span>
                                </td>
                                <td>
                                    @if (project.ProjectLead != null)
                                    {
                                        <div class="d-flex align-items-center">
                                            <p>@project.ProjectWoner</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>UnAssign</p>
                                    }
                                </td>
                                
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<!--Projects that I am Lead Ends-->
@*script for deleting a project*@

<script>
    globalId = 0;
    let buttons = document.querySelectorAll('.delete-button');
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            globalId = button.getAttribute('project-id').toString();
        });
    })
    const deleteButton = document.getElementById('project-delete-button');
    deleteButton.addEventListener('click', () => {
        deleteProjectById(globalId);
    });
    function deleteProjectById(id) {
        fetch(`/Project/Delete?id=${id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Error deleting project');
                }
            })
            .catch(error => {
                console.error('Error deleting project', error);
            });

    }

</script>
@*deleting script ends*@